@import url(https://fonts.googleapis.com/css?family=Karla);

/* selectize dropdowns */
.selectize-input, .selectize-dropdown {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.control-label {
  font-family: 'Georgia', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

/* reactables */
.defender-table {
  margin: 0 auto;
  min-height: 590px;
}

.slider-label {
  font-family: 'Georgia', sans-serif;
  font-size: 16px;
  font-weight: bold;
}